<div class="toast toast-success align-items-center text-white bg-success " role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex top-right">
        <div class="col-md-2 center-icon">
            <i class="fa fa-check-circle fa-2x"></i>
        </div>

        <div class="col-md-8 toast-body toast-body-success">
            Deu certo.
        </div>
        <div class="col-md-2 center-icon">
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


<div class="toast toast-error align-items-center  text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

    <div class="d-flex">
        <div class="col-md-2 center-icon">
            <i class="fa fa-bug fa-2x center"></i>
        </div>

        <div class="col-md-8 toast-body toast-body-error">
            Deu ruim.
        </div>
        <div class="col-md-2 center-icon">
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

    </div>
</div>


<div class="toast toast-warning align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="col-md-2 center-icon">
            <i class="fa fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="col-md-8 toast-body toast-body-warning">
            Tem certeza?
        </div>
        <div class="col-md-2 center-icon">
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

